

/* General styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f5f5; 
  color: #333; /* Dark grey for text */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: small;
}

/* Header styling */
header {
  background-color: #4d4c4b; /* Soft beige */
  color: #6e5a79; /* Lilac */
  padding: 10px 5px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}


h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f6f4e1;
}

nav[aria-label="Breadcrumb"] {
  margin-top: 3%;
  font-size: 0.9rem;
}

nav[aria-label="Breadcrumb"] ol {
  padding: 2;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

nav[aria-label="Breadcrumb"] li {
  display: inline-block;
}


nav[aria-label="Breadcrumb"] li a {
  color: rgb(243, 232, 211); 
  text-decoration: none;
  padding: 3px 2px;
  border: 0.5px  #6e5a79; /* Lilac border */
  border-radius: 6px;
  transition: all 0.4s ease;
  display: inline-block;
  font-size: 0.6rem;
}

 
nav[aria-label="Breadcrumb"] li a:hover {
 
  color:  #e0d4e7;
  font-size: 0.9rem ;
}
  
nav[aria-label="Pagescroll"] a:hover {
  color: #4d4c4b;
  font-size: 0.9rem;
}


a {
  color: #6e5a79; /* Lilac */
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

a:hover {
  border-color: #6e5a79; /* Lilac */
}

h2 {
  color: #f3eeda; /
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {color: #6e5a79;}

h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #6e5a79; /* Lilac border */
  padding-bottom: 5px;
}

h3 {
  font-size: 1.4rem;
  padding-left: 20px;
}

p {
  margin-bottom: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4a4a4a; /* Medium grey */
  color: white;
  margin-top: 20px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}



footer p {
  margin: 0;
  
}
footer p a[href='#top']{
  color: #f3eeda;
}
a[href] {
  padding-left: 20px;
}

footer p a[href='#top']:hover  {
  color: #e0d4e7;
  font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  h3 {
      font-size: 1.2rem;
  }

  p {
      padding-left: 10px;
      padding-right: 10px;
  }

  section {
      padding: 15px;
  }

  nav[aria-label="Breadcrumb"] ol {
      flex-direction: row;
  }

  nav[aria-label="Breadcrumb"] li {
      margin-bottom: 3px;
  }
}

